name: Docker Image CI

on:
  push:
    branches: [ "master" ]
    paths:
      - 'backend/**'

jobs:
  build_push_backend_image:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - name: Check out code
        uses: actions/checkout@v5
        
      - name: Make Maven Wrapper executable
        run: chmod +x mvnw
      
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '21'

      - name: Build Maven project
        run: ./mvnw clean package

      - name: build and push backend image
        uses: mr-smithers-excellent/docker-build-push@v6
        with:
          image: raissianouer/moneymanager_backend
          registry: docker.io
          dockerfile: backend/Dockerfile
          directory: backend
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

  deploy:
    runs-on: ubuntu-latest
    permissions:
      deployments: write
    needs: build_push_backend_image  
    steps:
      - uses: JorgeLNJunior/render-deploy@v1.4.7
        with:
          service_id: ${{ secrets.RENDER_SERVICE_ID }}
          api_key: ${{ secrets.RENDER_API_KEY }}
          clear_cache: true
          wait_deploy: true
          github_deployment: true
          deployment_environment: 'production'
          github_token: ${{ secrets.GITHUB_TOKEN }}
